button {
	margin:10px;
	color:darkgreen;
	font-size: 20px;
}

div {
	margin:10px;
	color:green;

}

form {
	margin:10px;
	color:green;

}

input {
	margin:10px;
	color:brown;
}

label {
	color:green;
	font-size:20px;
}

h1 {
	color:green;
	font-size:100px;
}

p {
	margin-top:0px;
	margin-bottom:20px;
}

img {
	width:400px;
	height:250px;
}

body {
	background-color:lavender;
}